<div class="container" ng-app="storyApp" ng-controller="myct" ng-init="getusr()" >
<div class="col-sm-8 col-sm-offset-2">
    <form name="storyForm" >
    <div class="form-group">
        <label>Firstname</label>
        <input type="text" name="title"  class="form-control" ng-model="user.firstname">

    </div>
    <div class="form-group">
        <label>Lastname</label>
        <input type="text" name="category" class="form-control" ng-model="user.lastname">

    </div>
    <div class="form-group">
        <label>Email</label>
        <textarea rows="4" cols="50" name="content" class="form-control" ng-model="user.email">
        </textarea>
    </div>
    <div class="form-group">
        <label>Password</label>
        <textarea rows="4" cols="50" name="content" class="form-control" ng-model="user.password">
        </textarea>
    </div>
 <input type="submit" ng-click="update(user)" class="btn btn-primary" value="Update"/>
  <input type="submit" ng-click="bac()" class="btn btn-primary" value="back"/>
    </form>
</div>
</div>
