
<div class = "container">

  <div class="col-md-6 col-md-offset-3">
  <div class = "jumbotron">
  <h2>Submit Your Story Here </h2>
    <form name="storyForm" ng-controller="myct" >
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="title"  class="form-control" ng-model="story.title">

    </div>
    <div class="form-group">
        <label>Category</label>
        <input type="text" name="category" class="form-control" ng-model="story.category">

    </div>
    <div class="form-group">
        <label>Content</label>
        <textarea name="content" class="form-control" ng-model="story.content"></textarea>

    </div>
 <input type="submit" ng-click="addStory(story)" class="btn btn-primary" value="Save"/>
 <input type="submit" ng-click="back()" class="btn btn-primary" value="back"/>
    </form>
</div>
</div>
</div>
